.app{
  height: 100vh;
	direction: rtl;
}
.leaflet-container {
  width: 100%;
  height: 100vh;
}
.container{
	width: 1280px;
	margin: 0 auto;
}
.flex-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	.col-lg-12 {width: 100%;}
	.col-lg-11_5 {width: 95.83333333%;}
	.col-lg-11 {width: 91.66666667%;}
	.col-lg-10 {width: 83.33333333%;}
	.col-lg-9_5 {width: 79.16666667%;}
	.col-lg-9 {width: 75%;}
	.col-lg-8_5 {width: 70.83333333%;}
	.col-lg-8 {width: 66.66666667%;}
	.col-lg-7_5 {width: 62.5%;}
	.col-lg-7 {width: 58.33333333%;}
	.col-lg-6_5 {width: 54.16666667%;}
	.col-lg-6 {width: 50%;}
	.col-lg-5_5 {width: 45.83333333%;}
	.col-lg-5 {width: 41.66666667%;}
	.col-lg-4_5 {width: 37.5%;}
	.col-lg-4 {width: 33.33333333%;}
	.col-lg-3_5 {width: 29.16666667%;}
	.col-lg-3 {width: 25%;}
	.col-lg-2_5 {width: 20.83333333%;}
	.col-lg-2 {width: 16.66666667%;}
	.col-lg-1_5 {width: 12.5%;}
	.col-lg-1 {width: 8.33333333%;}
	.col-lg-0_5 {width: 4.166666667%;}
}
.input-app{
	width: 99%;
	outline: none;
	border: 1px solid #aaa;
	box-shadow: none;
	border-radius: 5px;
	font-size: 22px;
	font-weight: 500;
}
.search-input{
	position: relative;
	background-color: #fff;
	width: 90%;
	.list{
		padding: 0;
		list-style-type: none;
		background-color: #fff;
		position: absolute;
		top: 18px;
		left: 0;
		right: 0;
		max-height: 350px;
		overflow: auto;
		box-shadow: 0 1px 8px #ddd;
		li{
			cursor: pointer;
			padding: 4px;
			border-bottom: 1px solid#ddd;
			&:hover{
				background-color: #eee;
			}
		}
	}
}